* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/wallpaper-test.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-bottom: 160px;
}

.title {
    background-color: #E6BFCC;
    text-align: center;
    height: 70px;
}

.title h1 {
    margin-bottom: 0 !important;
    color: #4F021B;
    font-size: 3em;
    line-height: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-container {
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 1px !important;
    background-color: #c747765d;
    backdrop-filter: blur(5px);
}

.mensaje {
    min-height: 80px;
    width: 450px;
    background-color: #E6BFCC;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px !important;
    border: 2px solid #4F021B;
    position: relative;
}

.msg-content {
    justify-content: center;
    height: 85%;
    margin-bottom: 20px;
    position: relative;
}

audio {
    width: 100%;
    height: 50px;
}

p {
    color: #4F021B;
    margin-bottom: 35px !important;
    overflow-wrap: anywhere;
}

.data-msg {
    position: absolute;
    bottom: 0%;
}

.img-container {
    position: relative;
    margin-bottom: 0;
}

.pf-img {
    left: -32px;
    border-radius: 50%;
    border: 2px solid #4F021B;
    position: absolute;
    width: 55px;
}

h5 {
    font-weight: 700;
    margin-bottom: 0% !important;
    font-size: 20px;
    margin-left: 1.8rem;
    color: #4F021B;
}

.left {
    float : left;
}

.right {
    float : right;
}

footer {
    background-color: #E6BFCC;
}

.code-box {
    padding: 10px;
    background-color: rgba(163, 128, 196, 0.3);
    text-align: center;
}

.code-box h6 {
    color: #4F021B;
}

#code {
    color: #4F021B;
}

#code:hover {
    text-shadow: 0px 0px 7px rgb(255, 0, 255);
    color: #C74777;
}

#code:active {
    color: aqua;
}


/* Responsive */

@media screen and (max-width: 768px) {

    body {
        background-image: url("../img/mobile-back.jpg");
        background-size: contain;
    }

    .title h1{
        font-size: 1.5rem;
    }

    .code-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    h6, h4 {
        margin-bottom: 0 !important;
    }

    .main-container {
        padding-left: 35px;
        padding-right: 35px;
        backdrop-filter: blur(1.5px);
    }

    .mensaje {
        width: 100%;
    }

    .msg-content p {
        font-size: 1.3rem;
    }

    .row {
        margin-bottom: 70px;
    }

    .custom-audio-player { 
        max-width: 100% !important;
    }

    .volume-slider {
        display: none;
    }

    .time {
        width: 55px !important;
    }
}