* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/wallpaper-test.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-bottom: 160px;
}

.title {
    background-color: #FFF5E4;
    text-align: center;
    height: 70px;
}

.title h1 {
    margin-bottom: 0 !important;
    color: #ffffff;
    font-size: 3em;
    line-height: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-container {
    /* width: 60%; */
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 1px !important;
    background-color: #ffc4c44f;
    backdrop-filter: blur(5px);
}

.mensaje {
    min-height: 80px;
    width: 450px;
    background-color: #EFADB6;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px !important;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
}

.msg-content {
    justify-content: center;
    height: 85%;
    margin-bottom: 20px;
    position: relative;
}

audio {
    width: 100%;
    height: 50px;
}

p {
    margin-bottom: 35px !important;
    overflow-wrap: anywhere;
}

.data-msg {
    position: absolute;
    bottom: 0%;
}

.img-container {
    position: relative;
    margin-bottom: 0;
}

.pf-img {
    left: -32px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    position: absolute;
    width: 55px;
}

h5 {
    font-weight: 650;
    margin-bottom: 0% !important;
    font-size: 20px;
    margin-left: 1.8rem;
}

.left {
    float : left;
}

.right {
    float : right;
}

footer {
    background-color: #191B37;
}

.code-box {
    padding: 10px;
    background-color: rgba(163, 128, 196, 0.3);
    text-align: center;
}

.code-box h6 {
    color: #ffffff;
}

#code {
    color: #ffffff;
}

#code:hover {
    text-shadow: 0px 0px 7px rgb(255, 0, 255);
    color: #C74777;
}

#code:active {
    color: aqua;
}

